html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;

    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
@font-face {
    font-family: "Vazir";
    src: url('../font/Vazir.eot?#') format('eot'),
    url('../font/Vazir.woff') format('woff'),
    url('../font/Vazir.ttf') format('truetype');
}
body {
    line-height: 1;
    box-sizing: border-box;
    list-style: none;
    font-family: Vazir;
    position: relative;



}
input,button{

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

:root {
    --orange : #FEA35A;
    --orange2 : #fe8c11;
    --blue : #6D7D9E;
    --gray : #F0F0F0;
    --white : #ffffff;

}

.shoppingBasketBtn {
    width: 110px;
    height: 42px;
    background-color: var(--blue);
    color: white;
    float: left;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    padding: 14px 12px;
}
.shoppingBasketBtn img {
    width: 25px;
    height: 21px;
    color: white;
    float: left;
    margin-top: -3px;
}
.basketImg {
    color: white;

}
.shoppingBasket {
    float: right;
}
.shoppingBasket a {
    text-decoration: none;
    color: white;
}
.navBar {
    width: 100%;
    height: 80px;
    background-color: var(--white);
    box-sizing: border-box;
    top:0;
    z-index: 1000;
    box-shadow: 0 3px 34px #bbbbbb24;
}
.inner-navBar {
    max-width: 1140px;
    padding-left: 15px;
    padding-right:15px;
    margin: auto;
    height: 50px;
    box-sizing: border-box;
    padding-top: 19px;
}
.menuIcon {
    float: right;
    display: none;
}
.hamburgerMenu {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 32px;
    height: 4px;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: 3px;
    background-color: var(--orange);
}

.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 9px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-3px, -8px);
}

.logo {
    float: left;

}
.menu {
    float: right;
    margin-top: 15px;
}

.submenu {
    float: right;
    margin-left: 25px;
    font-size: 14px;

}
.submenu a {
    color: black;
    text-decoration: none;
}
.submenu a:hover {
    color: var(--orange);
    cursor: pointer;
}
.kharideKetab {
    background-color: var(--orange);
    height: 42px;
    margin-top: -14px;
    border-radius: 4px;
    width: 99px;
    color: white;
    box-sizing: border-box;
    /* border: navy; */
    border: none;
    box-shadow: 0px 1px 4px var(--orange);
    cursor: pointer;
}
.kharideKetab:hover {
    background-color: var(--orange2);
}
.buyBook a:hover {
    color: var(--white);
}

.submenu.kharideKetab {}

.submenu p {
    display: inline-block;
    text-align: center;
}
.submenu img {
    display: inline-block;
    margin-top: 10px;
    width: 14px;
    height: 18px;
    float: right;
    margin-right: 10px;
}
.buyBook {
    float: left;
    margin-top: 14px;
    margin-left: 10px;
}
.buyBook a {
    color: var(--white);
}
.hamburgerMenuTitles {
    width: 100%;
    border:none;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1003;
}
.hamburgerMenuTitles div {
    width: 100%;
    color: var(--white);
    background-color: var(--blue);
    height: 40px;
    border: none;
    border-bottom: 1px solid #6262a4;
    padding-top: 10px;
    box-sizing: border-box;
}
.hamburgerMenuTitles a {
    text-align: center;
    color:white;
    font-size: 14px;
    text-decoration: none;
}
.hamburgerMenuTitles div:hover {
    background-color: #6c72b0;
    cursor: pointer;
}
.second-buyBook {
    background-color: var(--orange);
    border-bottom: none;
    color: var(--white);
}
.second-buyBook-link {
    color: var(--white);
}
.second-buyBook-link:hover {

    color:var(--white)
}
.second-buyBook-inner {
    width: 104px;
    margin: auto;
    height: 42px;
    color: var(--white);
}
.second-buyBook-link img{
    float: right;
    margin-top: -5px;
}
.container {
    margin-top: 61px;
}
.delete:hover {
    cursor: pointer;
}
.container h4 {
    font-size: 16px;
    width: 100%;
    direction: rtl;
    text-align: right;
}
.secondTableTitle h4 {
    font-size: 16px;
    width: 100%;
    direction: rtl;
    text-align: right;
}
.line {
    width: 128px;
    height: 2px;
    background-color: var(--orange);
    margin: auto;
    margin-top: 9px;
    float: right;
}
.thead {
    background-color: var(--blue);
}
.number-spinner {
    width: 120px;
    float: right;
    border-color: var(--orange);
    margin-top: 37px;
}
.btn-default {
    width: 25px;
    height: 44px;
    background-color: var(--orange);
    border-radius: 3px;
    padding: 11px 7px;
}
.btn-default img {
    width: 10px;
    margin: auto;
}
.btn-default:hover {
    background-color: var(--orange2);
}
.text-center {
    height: 44px;
    border-color: var(--orange);
    border-radius: 3px;
}
#leftBtn {
    margin-left: 2px;
}
#rightBtn {
    margin-right: 2px;
}
.table {
    margin-top: 50px;
    direction: rtl;
    text-align: right;
}
.thead {
    color: var(--white);
}
.number-spinner {
    width: 120px;
    border-color: var(--orange);
    margin-right: -38px;
    direction: ltr;
    margin-top: 0;

}
.bookName {
    padding-top: 29px;
}
.rowNumber {
    padding-top: 32px;
}
.price {
    padding-top: 28px;
}
.delete {
    width: 30px;
    height: 35px;
}
.firstTable {
    border: 1px solid #80808014;
    box-shadow: 0 0 74px 1px #f4f1f1;
    margin-bottom: 90px;
}
table {

    font-size: 13px;
}

.secondTable {
    border: 1px solid #80808014;
    box-shadow: 0 0 74px 1px #f4f1f1;
    margin-bottom: 47px;
}
.secondTable input {
    width: 15px;
    height: 19px;
}
.purchaseProcess {
    background-color: var(--orange);
    color:white;
    border:none;
    font-size: 13px;
    height: 48px;
    width: 150px;
    float: right;
}
.purchaseProcess:hover {
    background-color: var(--orange2);
    color: white;
    cursor: pointer;
}

.finalPrice {
    width: 250px;

    height: 50px;

    float: left;

    font-size: 14px;

    background-color:
            white;

    border-radius: 6px;

    box-shadow: 0 0 44px -5px
    #dddddd78;

    box-sizing: border-box;

    padding:19px 39px;

}
.finalPrice p {
    display: inline-block;
    direction: rtl;
    float: left;
}
.modal-header h5 {
    font-size: 18px;
}
.modal-body {
    direction: rtl;
    text-align: right;
    font-size: 13px;
}
label {
    display: block;
    margin-top: 4px;
    margin-bottom: 12px;
}
input {
    width: 92%;
    height: 35px;
    border-radius: 6px;
    box-shadow: 0 0 18px -5px
    #acacac29;
    border: 1px solid
    #80808026;
    margin-bottom: 24px;
    direction: rtl;
    font-size: 11px;
    color:gray;
    padding-right: 10px;
    margin-bottom: 12px;
}
select {
    width: 92%;
    height: 35px;
    border-radius: 6px;
    box-shadow: 0 0 18px -5px
    #acacac29;
    border: 1px solid
    #80808026;
    margin-bottom: 24px;
    direction: rtl;
    font-size: 11px;
    color: #484848;
    padding-right: 10px;
    margin-bottom: 12px;
}
.firstLastName {
    width: 49%;
    float: right;
    height: 105px;

}
.emailBox {
    width: 49%;
    float: left;
    height: 105px;
}
.phoneBox {
    width: 49%;
    float: right;
    height: 105px;
}
.codeposti {
    width: 49%;
    float: left;
    height: 105px;
}
.province {
    width: 49%;
    float: right;
    height: 105px;
}
.shahr {
    width: 49%;
    float: left;
    height: 105px;
}
textarea {
    width: 96%;
    border-radius: 6px;
    border: 1px solid
    #8080803b;
    box-shadow: 0 0 18px -5px
    #acacac29;
    margin-bottom: 12px;

}
.addressPost {
    height:509px;
}
.sendData {
    color: white;
    background-color: var(--orange);
    font-size: 13px;
    height: 48px;
    width: 224px;
    float: right;
}
.cancelData {
    float: left;
    color: white;
    background-color: var(--blue);
    font-size: 13px;
    height: 48px;
    width: 112px;
    margin-left: 115px;
}
.sendData:hover {
    background-color: var(--orange2);
    color: white;
}
.cancelData:hover {
    background-color: #3a3c8b;
    color: white;
}

.shahr .city .azsharghi {
    display: none;
}
.shahr .city .ardbil {
    display: none;
}
.shahr .city .esfahan {
    display: none;
}
.shahr .city .alborz {
    display: none;
}
.shahr .city .ilam {
    display: none;
}
.shahr .city .boushehr {
    display: none;
}
.shahr .city .tehran {
    display: none;
}
.shahr .city .chaharmahal {
    display: none;
}
.shahr .city .khjnoubi {
    display: none;
}
.shahr .city .khrazavi {
    display: none;
}
.shahr .city .khshomali {
    display: none;
}
.shahr .city .khouzestan {
    display: none;
}
.shahr .city .zanjan {
    display: none;
}
.shahr .city .semnan {
    display: none;
}
.shahr .city .sistan {
    display: none;
}
.shahr .city .fars {
    display: none;
}
.shahr .city .ghazvin {
    display: none;
}
.shahr .city .ghom {
    display: none;
}
.shahr .city .kordestan {
    display: none;
}
.shahr .city .kerman {
    display: none;
}
.shahr .city .kermanshah {
    display: none;
}
.shahr .city .kohkolie {
    display: none;
}
.shahr .city .golstan {
    display: none;
}
.shahr .city .gilan {
    display: none;
}
.shahr .city .lorestan {
    display: none;
}
.shahr .city .mazandaran {
    display: none;
}
.shahr .city .markazi {
    display: none;
}
.shahr .city .hormozgan {
    display: none;
}
.shahr .city .hamedan {
    display: none;
}
.shahr .city .yazd {
    display: none;
}
.form3 span {
    color: #ff363a;
    font-size: 12px;
    display: block;
}
.contact-box {
    width: 100%;
    background-color: var(--blue);
    height: auto;
    /*! margin-top: 33px; */
    margin-top: 144px;
}
.inner-contact-box {
    width: 1140px;
    margin: auto;
    height: 343px;

}
.contact-title {
    height: 42px;
    /*! margin-top: 50px; */
    /*! margin-bottom: 30px; */
    padding-top: 66px;
    color: white;
    width: 30%;
    float: right;
}
.contact-title h4  {
    direction: rtl;
    float: right;
    font-size: 19px;
}
.post-comment-box {
    width: 50%;
    height: auto;
    float: left;
}
.form2 {
    /*! overflow: auto; */
    clear: both;
    margin-top:58px;
    font-size: 13px;
}
.input2 {
    border:none;
    background-color: var(--white);
    height: 50px;
    /*! border-bottom: 2px solid gray; */


    direction: rtl;
    padding-right: 10px;
    box-sizing: border-box;
    border-radius: 6px;
}
.form-name {
    width: 49%;
    float: right;
    border-left: 1px solid gray;

    margin-left: 0;
    /*! border-radius: 0px 6px 0 0; */
    /*! direction: rtl; */
    /*! padding-right: 10px; */
    /*! box-sizing: border-box; */
}
.form-email {
    width: 49%;
    float: left;
    margin-left: 0;
    /*! border-radius: 6px 0 0 0; */
}
.form2-textarea {
    direction: rtl;
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 12px;
    border-radius: 6px;
    border: medium none;
    padding-top: 18px;
    height: 120px;

}
.button2 {
    width: 100%;
    background-color: var(--orange);
    height: 48px;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 6px;
}
.information {
    float: right;
    width: 30%;

    color: white;
    padding-top: 20px;
    direction: rtl;
}
.publicist {
    width: 100%;
    margin-bottom: -7px;
    height: 62px;
    margin-top: 64px;
}
.publicist-title {
    float: right;
    color: var(--orange);
    display: block;
    width: 28%;
    direction: rtl;
}

.author-contact-title {

    float: right;
    color: var(--orange);

}
.quantity {
    width: 180px;
}
.operator {
    width: 30px;
    border-radius: 3px;
    background-color: var(--orange);
    color: white;
    border: none;
    padding-right: 7px;
}
.plus {
    float: right;
    margin-left:3px;
    font-size: 14px;
}
.minus {
    float: right;


}
.qty{
    width: 75px;
    float: right;
    margin-left: 3px;
    border-radius: 0;
    border: 1px solid var(--orange);
}
.contact-box {
    margin-top: 147px;
}
.content {
    width: 75%;
    margin:auto;
    display: none;
}
.clear {clear: both}
.btn2 {
    float: right;
    background-color: var(--orange);
    color: white;
    font-size: 14px;
    height: 48px;
    margin-top:-16px;
}
.btn2:hover {
    background-color: var(--orange2);
    color: white;
}
.btn3 {
    float: right;
    background-color: var(--orange);
    color: white;
    font-size: 14px;
    height: 48px;
}
.form1 {
    width: 90%;
    margin: auto;
    font-size: 13px;
    direction: rtl;
}


.name {
    width: 49%;
    padding-right: 10px;
    box-sizing: border-box;
    height: 37px;
    border: 1px solid gray;
    border-radius: 6px;
    margin-top: 10px;

}
.name1 {
    float: right;
}
.name2{
    float: left;
}
.btn3 {
    width: 150px;
    margin: auto;
}
textarea {
    width: 99%;
    border: 1px solid
    gray;
    border-radius: 6px;
    margin-top: 23px;
    box-sizing: border-box;
    padding-right: 10px;
    padding-top: 10px;
}
.contact-box {
    width: 100%;
    background-color: var(--blue);
    height: auto;
    /*! margin-top: 33px; */
}
.inner-contact-box {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    height: 343px;

}
.contact-title {
    height: 42px;
    /*! margin-top: 50px; */
    /*! margin-bottom: 30px; */
    padding-top: 66px;
    color: white;
    width: 30%;
    float: right;
}
.contact-title h4  {
    direction: rtl;
    float: right;
    font-size: 19px;
}
.post-comment-box {
    width: 50%;
    height: auto;
    float: left;
}
.form2 {
    /*! overflow: auto; */
    clear: both;
    margin-top:58px;
    font-size: 13px;
}
.input2 {
    border:none;
    background-color: var(--white);
    height: 50px;
    /*! border-bottom: 2px solid gray; */


    direction: rtl;
    padding-right: 10px;
    box-sizing: border-box;
    border-radius: 6px;
}
.form-name {
    width: 49%;
    float: right;
    border-left: 1px solid gray;
    height: 42px;
    font-size: 12px;
    margin-left: 0;
    margin-bottom: 0;
    /*! border-radius: 0px 6px 0 0; */
    /*! direction: rtl; */
    /*! padding-right: 10px; */
    /*! box-sizing: border-box; */
    color: #000;
}
.form-email {
    width: 49%;
    float: left;
    margin-left: 0;
    height: 42px;
    font-size: 12px;
    margin-bottom: 0;
    color: black;

    /*! border-radius: 6px 0 0 0; */
}
.form2-textarea {
    direction: rtl;
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 9px;
    border-radius: 6px;
    border: medium none;
    padding-top: 18px;
    height: 120px;
    font-size: 12px;
    margin-bottom: 0;

}
.button2 {
    width: 100%;
    background-color: var(--orange);
    height: 48px;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 6px;
}
.information {
    float: right;
    width: 30%;

    color: white;
    padding-top: 20px;
    direction: rtl;
}
.publicist {
    width: 100%;
    margin-bottom: -7px;
    height: 62px;
    margin-top: 45px;
}
.publicist-title {
    float: right;
    color: var(--orange);
    display: block;
    width: 28%;
    direction: rtl;
    text-align: right;
}

.author-contact-title {

    float: right;
    color: var(--orange);

}
.publicist-number {
    font-size: 14px;
}
.author-email {
    font-size: 14px;
}
.plus {font-size: 21px}
.minus {
    font-size: 21px;
}
.first-table {
    display: none;
}

@media screen and (max-width: 1920px) {

    /*.inner-contact-box {*/
        /*max-width: 1140px;*/

    /*}*/
}
@media screen and (max-width: 1366px) {

    /*.inner-contact-box {*/
        /*max-width: 1140px;*/

    /*}*/
}
@media screen and (max-width: 1230px) {
    .container {
        max-width: 1140px;padding-left: 15px;padding-right: 15px;
    }
}
@media screen and (max-width: 1230px) {
    /*.inner-contact-box {*/
        /*width: 88%;}*/

}
@media screen and (max-width: 1170px) {
 .inner-contact-box {
     width: 99%;
 }
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1199px) {
    /*.inner-contact-box {*/
        /*width: 77%;}*/
    .publicist-title {
        width: 46%;}

}
@media screen and (max-width: 1024px) {

    .contact-title h4 {
        font-size: 17px;}


    /*.inner-contact-box {*/
        /*width: 86%}*/
}
@media screen and (max-width: 913px) {
       .textTd {
           line-height: 22px;
           width: 62%;
       }
}
@media screen and (max-width: 822px){
    .publicist-title {
        width: 100%;
        margin-bottom: 20px;}
    .publicist-number {
        text-align: right;
        float: right;
        margin-bottom: 30px;
    }
    .author-contact-title {
        float: right;
        width: 100%;
        text-align: right;
        margin-bottom: 20px;
    }
    .author-email {
        width: 100%;
        float: right;
        text-align: right;
    }
    .contact-title h4 {
        margin-top: -9px;
    }

    .publicist {

        margin-top: 29px;
    }

}
.leftClm {text-align: left}
.quantity {height: 38px;
width: 141px;
    float: left;}
.bookNumber {
    padding-top: 23px;
}
.first-table {
    margin-bottom: 60px;
}
.bookName2 {
    width: 60%;
}
.deliveryPrice {
    /*width: 58%;*/
}

@media screen and (max-width: 810px) {

    .post-comment-box {
        width: 58%;}
}
@media screen and (max-width: 766px) {
    .menuIcon {
        display:block;
    }
    .menu {
        display: none;
    }
    .navBar {
        height: 70px;
    }
    .shoppingBasketBtn {
        margin-top: -5px;
    }
}
@media screen and (max-width: 724px) {
    /*.qty {*/
        /*width: 29px;}*/
    /*.operator {*/
        /*width: 21px;*/
        /*font-size: 15px;}*/
    /*.plus {padding-right: 6px}*/
    /*.minus {*/
        /*padding-right: 7px;*/
        /*font-size: 17px;*/
    /*}*/
    /*.tedad {}*/
    /*.gheymat {}*/
    /*.antar {}*/
    .firstTable {
        display: none;
    }
    .first-table {
        display: inline-block;
        display: table;

    }
}
@media screen and (max-width: 681px) {

    .post-comment-box {
        width: 64%;
        margin-top: 21px;
    }
    .contact-title h4 {
        margin-top: -30px;
    }
    .publicist {
        margin-top: 36px;
    }

}
@media screen and (max-width: 631px) {
    .inner-contact-box {
        width: 99%;
    }

}
@media screen and (max-width: 631px){

    .post-comment-box {

        width: 100%;
        margin-top: -24px;

    }
    .information {

        width: 100%;

    }
}
@media screen and (max-width: 631px) {
    .inner-contact-box {
        height: 480px;
    }
    .publicist {
        width: 50%;
        margin-top: 26px;
    }
    .author-contact-box {
        width: 50%;
        float: left;
        margin-top: -54px;
    }
    .post-comment-box {

        margin-top: -7px;

    }

    .contact-box {
        margin-top: 148px;

    }
    .contact-title h4 {
        margin-top: -18px;
    }


}
@media screen and (max-width: 448px) {
    .finalPrice {
        width: 99%;
        padding: 19px 111px;
        margin-bottom: 31px;
        margin-top: -16px;
    }
    .purchaseProcess {
        width: 99%;}
    .contact-box {
        margin-top: 227px;
    }
}
@media screen and (max-width: 426px) {
    .finalPrice {
        padding: 19px 90px;
    }
}

@media screen and (max-width: 410px) {

    .author-email {

        font-size: 13px;

    }

    .publicist-number {

        font-size: 13px;

    }
}
@media screen and (max-width: 384px) {
    .finalPrice {
        padding: 19px 70px;
    }
}
@media screen and (max-width: 375px){
    .form-name {
        width: 100%;
        margin-bottom: 11px;
    }
    .form-email {
        width: 100%;
    }
    .inner-contact-box {
        height: 525px;
    }
}
@media screen and (max-width: 344px) {
    .finalPrice {
        padding: 19px 50px;
    }
}